body {
    font-family: URW Gothic;
    background-color:#f0f0f0;
    color: #212529;
    margin: 0;
    padding: 0;
}

header {
    background-color: #212529;
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #212529;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color:#212529;
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
}